/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* Quiz project */

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.quiz-section {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

.quiz-section header {
  width: 100%;
  height: 80px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
  /*  img elements will have a minimum width of 100px.
   And as the viewport grows, the image will grow accordingly to be 10 percent of the viewport width. */
  width: max(90px, 6vw);
  background-color: #0a0a23;
  /* sets the width-to-height ratio to 35/4, which means the element's width is 35 units, and its height is 4 units. */
  aspect-ratio: 6 / 4;
  padding: 0.4rem;
  margin-left: 12px;
}

.quiz-section h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}
/* On small screens, the unordered list in the navigation bar overflows the right side of the screen.
Fix this by using Flexbox to wrap the ul content. */
nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}
/* On the topic of visual accessibility, contrast between elements is a key factor.
 For example, the contrast between the text and the background of a heading should be at least 4.5:1. */
li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 50px;
}

.quiz-section section {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

.quiz-section h1,
.quiz-section h2 {
  font-family: Verdana, Tahoma;
}

.quiz-section h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 45px;
}

.info {
  padding: 10px 0 0 5px;
}

.formrow {
  margin-top: 30px;
  padding: 0px 15px;
}

.quiz-section input {
  font-size: 16px;
}

.info label,
.info input {
  display: inline-block;
}

.info input {
  width: 50%;
  text-align: left;
}

.info label {
  width: 10%;
  min-width: 55px;
  text-align: right;
}

.question-block {
  text-align: left;
  display: block;
  width: 100%;
  margin: 12px auto;
  padding-top: 5px;
}

.answer select {
  width: 25%;
  font-size: 0.9rem;
}

.quiz-section p {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 20px;
}

.quiz-section p::before {
  content: "Question #";
}

.question {
  border: none;
  padding-bottom: 0;
}

.answers-list {
  list-style: none;
  padding: 0;
}

.quiz-section button {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #dfdfe2;
}

address {
  text-align: center;
  padding: 0.3em;
}

#css-questions {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* Balance Sheet */

/* CSS clip property is used to define the visible portions of an element. */
span[class~="sr-only"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

/* The :not() pseudo-selector is used to target all elements that do not match the selector  */
/* span:not(sr-only) {
  font-family: sans-serif;
} */

.balance-sheet-section {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #0a0a23;
  max-width: 40rem;
  margin: 0 auto;
  border: 2px solid #d0d0d5;
  overflow: hidden;
}

.balance-sheet-section h1 {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

.balance-sheet-section h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.balance-sheet-section h1 .flex span:first-of-type {
  font-size: 0.7em;
}

.balance-sheet-section h1 .flex span:last-of-type {
  font-size: 1.2em;
}

.balance-sheet-section section {
  max-width: 40rem;
  margin: 0 auto;
  border: 2px solid #d0d0d5;
}
/* The calc() function is a CSS function that allows you to calculate a value based on other values.  */
#years {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  z-index: 999;
  top: 0;
  background: #0a0a23;
  color: #fff;
  padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  margin: 0 -2px;
}

#years span[class] {
  font-weight: bold;
  width: 4.5rem;
  text-align: right;
}

.table-wrap {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

.balance-sheet-section table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

.balance-sheet-section table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}

.balance-sheet-section tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
  overflow-y: auto;
}

.balance-sheet-section tbody th {
  width: calc(100% - 12rem);
}

thead tbody tr {
  table-layout: fixed;
}

/* The [attribute="value"] selector targets any element that has an attribute with a specific value. */
tr[class="total"] {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}

tr[class="total"] th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

/* The key difference between tr[class="total"] and tr.total is that the first will select tr elements where the only class is total. 
The second will select tr elements where the class includes total. */

tr.total td {
  text-align: right;
  padding: 0 0.25rem;
}

tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}

tr.total:hover {
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

tr.data {
  background-image: linear-gradient(
    to bottom,
    #dfdfe2 1.845rem,
    white 1.845rem
  );
}

tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

tr.data td {
  vertical-align: top;
  padding: 0.3rem 0.25rem 0;
  text-align: right;
}

tr.data td:last-of-type {
  padding-right: 0.5rem;
}

/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* ***************************** */ /* ***************************** */ /* ***************************** */
/* Nutrition facts project */

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

div h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

.label p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.bold {
  font-weight: 800;
}

.large {
  height: 10px;
}

.large,
.medium {
  background-color: black;
  border: 0;
}

.medium {
  height: 5px;
}

.small-text {
  font-size: 0.85rem;
}

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calories-info h2 {
  margin: 0;
}

.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

.right {
  justify-content: flex-end !important;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0px 8px;
  text-indent: -8px;
}
