* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(../images/Library.jpg) no-repeat center/cover;
}

.container {
  width: 550px;
  height: 450px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  overflow: auto;
  margin-top: 0;
}

.header {
  font-size: 1.8rem;
  color: #fff;
  background-color: black;
  padding: 30px;
  border-bottom: 5px solid yellow;
  text-align: center;
  border-top: 5px groove orange;
}

.main-content {
  width: 100%;
  /* height: 300px; */
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 20px;
  box-shadow: 0 0 10px;
  position: absolute;
}

.main-content .text-area {
  font-size: 1.2rem;
  line-height: 1.5;
}

.main-content .person {
  font-size: 1.4rem;
  color: red;
  text-transform: uppercase;
  margin-top: 20px;
}

.button-area button {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.button-area button:active {
  background-color: lightblue;
}

.google-credits {
  color: aliceblue;
  font-size: 1rem;
  position: absolute;
  top: 555%;
  font-style: italic;
  right: 3%;
}

/* Modal styles */

.modal-section {
  background: url(../images/Forest.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  text-align: center;
}

#open-btn {
  padding: 20px;
  position: absolute;
  top: 70%;
  left: 10%;
  width: 300px;
  height: 80px;
  background: transparent;
  color: white;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 17px;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  transition: 2s;
}

#open-btn:hover {
  background: #fff;
  color: black;
}

.credits {
  color: aliceblue;
  font-size: 1rem;
  top: 85%;
  position: relative;
  right: -40%;
}

.modal {
  width: 200px;
  display: flex;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 1.2rem;
  padding: 10px;
  transform: translate(-50%, -50%);

  animation-name: animatemodal;
  animation-duration: 0.4s;
}

/* #close-btn {
  font-size: 3rem;
} */

#close-btn {
  cursor: pointer;
  font-size: 3rem;
  color: #ff0000;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal animation */

@keyframes animatemodal {
  from {
    top: -300px;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

/* Accordian Styles */

.accordian-section {
  background: url(../images/question.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.accordian {
  margin-top: 30px;
  width: 75%;
  background-color: #f0ffff;
  padding: 30px;
  border-radius: 30px;
}

.accordian .accordian-title {
  text-align: center;
  margin-bottom: 30px;
}

.accordian .content-container {
  line-height: 1.5em;
  font-size: 1em;
  font-family: sans-serif;
}

.accordian .content-container .question {
  padding: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;

  position: relative;
}

.accordian .content-container .question::after {
  content: "+";

  position: absolute;
  right: -5px;
}

.accordian .content-container .answer {
  padding-top: 12px;
  width: 100%;

  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.accordian-section .credits {
  color: aliceblue;
  font-size: 1rem;
  top: 330%;
  position: absolute;
  left: 1%;
}

/* JS styling link */

.accordian .content-container.active .answer {
  height: auto;
}

.accordian .content-container.active .question {
  font-size: 0.9em;
  transition: 0.5s;
}

.accordian .content-container.active .question::after {
  content: "-";
  font-size: 30px;
  transition: 0.5s;
}

/* STOP WATCH Styling */

.stopWatch-section {
  height: 100vh;
  background: url(../images/time.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopWatch-section a {
  text-decoration: none;
  color: white;
}

.watch-container {
  width: 25%;
  height: 250px;
  /* background-color: white; */
  border-radius: 30px;
  box-shadow: 0 0 3px;
}

#timer {
  width: 100%;
  font-size: 72px;
  text-align: center;
  margin: 0px auto;
  padding: 35px;
  color: orangered;
}

.buttons {
  text-align: center;
  margin-top: 40px;
}

button {
  margin: 0 10px;
  border: none;
}

.icon-btn i {
  font-size: 2rem;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#play {
  background-color: green;
}

#reset {
  background-color: red;
}

#pause {
  background-color: orange;
}

.stopWatch-section .credits {
  color: aliceblue;
  font-size: 1rem;
  top: 215%;
  position: absolute;
  right: 3%;
}

/* Todo list */

.todo-container {
  background: url(../Images/office.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  background: #ffdead;
  width: 400px;
  padding: 15px;
  box-shadow: 0 0 3px;
  border-radius: 25px;

  display: flex;
}

#add-task {
  flex: 5;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 15px;
}

#add-btn {
  flex: 1;
  transition: 0.3s;

  color: green;
  padding: 5px;
  font-size: 1rem;

  border: 2px solid green;
  border-radius: 5px;

  cursor: pointer;
  background-color: white;
}

#add-btn:hover {
  color: white;
  background-color: green;
}

.task {
  width: 100%;
  background-color: #ffdead;
  border-radius: 10px;
  box-shadow: 0 0 3px;

  padding: 5px;
  width: 400px;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
}

.task li {
  list-style: none;
  flex: 4;
  padding: 5px;
  font-size: 1rem;
  margin: 10px;
}

.task button {
  flex: 1;
  border-radius: 10px;
  background-color: #f0ffff;
  cursor: pointer;
}

.task .checkTask {
  color: orange;
  margin-right: 5px;
  border: solid 2px orange;
  font-size: 1rem;
}

.task .deleteTask {
  color: red;
  margin-right: 5px;
  border: solid 2px red;
  font-size: 1rem;
}

.task .checkTask:hover {
  background-color: orange;
  color: white;
}

.task .deleteTask:hover {
  background-color: red;
  color: white;
}

.todo-container .credits {
  color: aliceblue;
  font-size: 1rem;
  top: 100%;
  position: absolute;
  right: 5%;
}

.todo-container a {
  text-decoration: none;
  color: white;
}
